.main-container {
    position:fixed;
    width:100%;
    height:100%;
    background-color: #434346;
    background-size: cover;
}

.header-container {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    margin-top: 5%;
}

.players-and-die {
    text-align: center;
    margin-top: 7%;
}

.player-name {
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
    color: white;
}

.throw-die-container {
    text-align: center;
    margin-top: 7%;
}

.btn {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}

.round-result-container {
    text-align: center;
}

#round-result-prompt {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    padding-top: 3%;
}