body {
    margin: 0;
    text-align: center;

    /* Add line height to all text on website */
    line-height: 2;
}

/************************************************************************************************************************/

h1 {
    margin-top: 0;
}
h2 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #66BFBF;
}
h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: #66BFBF;
}

/************************************************************************************************************************/

hr {
    width: 50px;
    border-top: 6px dotted #bbbebe;

    /* Add a margin to the top and bottom */
    margin: 150px auto 150px auto; 
}

/************************************************************************************************************************/

.top-container {
    background-color:  #EAF6F6;
    position: relative;
    color: #66BFBF;
}
.bottomCloudImage {
    display: inline-block;
    position: absolute;
}
.topCloudImage {
    position: relative;
    left: 300px;
    padding-top: 40px;
}
.top-container-title {
    /* Setting the font family and font size of the title 'I'm Angela' */
    font-family: 'Niconne', cursive;
    font-size: 60pt;
}
.top-container-paragraph { 
    /* Setting the font family and font size of the paragraph that says 'A Programmer' */
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}
.top-container-paragraph-span {
    text-decoration: underline;
}

/************************************************************************************************************************/

.skill-row {
    /* Change the display of the screen to inline-block to set the width to 50% 
    (This is my method)
    display: inline-block;
    width: 50%;
    */

    /* The lecturer's method */
    /* Since the div is already a block div, we can just set the width to 50% */
    width: 50%;

    /* 
    If we want to center the div, then we can just play around with the margin.
    Setting the margin as auto will create equal spacing between the element and other 
    elements.
    */
    margin: 150px auto 150px auto;

    /* Change the alignment of the text for each skill-row */
    text-align: left;
}
.skill-row-image-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-row-image-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/************************************************************************************************************************/

.bottom-container{
    background-color:  #66BFBF;

    /* Increasing the height of the div */
    height: 150px;

    /* Add space between this division and the one above it */
    margin-top: 50px;
}
.footer-link {
    color:  #11999E;

    /* Remove the hyperlink underline for each element in this class */
    text-decoration: none;

    /* space the elements that have the class 'footer-link' */
    display: inline-block;
    margin: 30px 40px auto 40px;
}
.bottom-container-copyright {
    color:  #EAF6F6;

    /* decreasing the font size of this class */
    font-size: 0.8rem;

    /* Adding space between this element and the one above it */
    margin-top: 40px;
}

/************************************************************************************************************************/

.contact-me-button {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 100;
    padding: 16px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.contact-me-button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}