body {
    margin: 0; 
    background-color: #ff4c68;
    padding: 5% 10%;
 }
 
 /************************************************************************************************************************/

.navbar {
    margin-bottom: 3%;
    background-color: #ff4c68;
}

.navbar-nav {
    padding: 0px 20px;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 2.0rem;
}

.nav-item {
    padding: 0px 20px;
}

.nav-link {
    font-size: 1.5rem;
}

/************************************************************************************************************************/

.contact-me-header {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
}

.contact-me-paragraph {
    font-family: 'Montserrat';
}

.speech-bubble {
	position: relative;
	background: #c3f4f8;
    border-radius: .4em;
    margin-bottom: 7%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #c3f4f8;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.row {
    background-color: white;
    height: 200px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5% 10%;
}

.contact-div {
    background-color: white;
}

/************************************************************************************************************************/