body {
    margin: 0; 
 }
 
 /************************************************************************************************************************/
 
 .navigationBar {
     position: fixed;
     background-color: whitesmoke;
     width: 100%;
     display: block;
 
     /* Add border to this div */
     border-top: 0px solid black;
     border-bottom: 3px solid black;
     border-left: 3px solid black;
     border-right: 3px solid black;
 }
 .navigationBarList {
     /* Remove any list styling */
     list-style-type: none;
 }
 .navigationBarListItem {
     /* Make each list item take the amount of space it needs only, not more and not less */
     display: inline-block;
 }
 .navigationBarListItem a {
     /* Change the text font */
     font-family: sans-serif;
 
     /* Remove the underline and the blue link from the text */
     text-decoration: none;
 
     /* Change the display to block */
     display: block;
 
     /* Change the color of the text */
     color: black;
 
     /* Add a left/right margin */
     margin-left: 7cm;
 
     /* Increase font size */
     font-size: 20pt;
 }
 .navigationBarListItem:hover a {
     color: rgb(3, 19, 236);
 }
 .navigationBar::-webkit-scrollbar {
     background-color: black;
     color: white;
 }
 
 /************************************************************************************************************************/

.contactMeContainer {
    position: relative;
    width: 100%;
}
.contactMeFormContainer {
    position: absolute;
    margin-top: 80px;
}
.leftSideContactMeContainer {
    display: inline-block;
}
.rightSideContactMeContainer {
    /* Move the container to the right side of the left container */
    display: inline-block;
    margin-right: 0;

    /* Move the container to the right to create space between the text fields and the big comment box */
    margin-left: 100px;

}
.leftSide {
    /* Add equal spacing between the elements of leftSide class */
    margin: 50px auto 70px auto;
}
.contactMeContainerTitle {
    margin-top: 70px;
    font-size: 30pt;
}

 /************************************************************************************************************************/