body {
    /* Set the background color */
    background-color: whitesmoke;

    /* set the margin for the body */
    margin: 0;
}
hr {
    border: none;
    height: 2px;
    background: black;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}

/************************************************************************************************************************/

.mainContainer {
    /* Add a background image to the main container */
    /*background-image: url("../resources/Background_Images/index_page/index_main_image.jpg"); */
    background-image: url("../resources/Background_Images/index_page/E5F056FB-27A4-48F2-9E0E-DDBB75A6B044.jpeg");
    background-repeat: no-repeat;
    background-size: auto;

    /* Change the height of this division */
    height: 100vh;
    width: 100%;

    /* Change the color of the background of this div */
    background-color: rgb(1, 56, 26);
}
.mainContainerPrompt {
    /* Change the type of position of this element */
    position: absolute;

    /* Change the display of this element */
    display: inline-block;

    /* Change the margin such that we place the element at the bottom */
    top: 50px;
    right: 160px;

    /* Change the color of the text */
    color: rgb(241, 186, 6);

    /* Control font size and style of any text inside this <div> */
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.mainContainerIntroduction {
    /* Change the padding of this element */
    padding-left: 800px;
    padding-right: 0;

    /* Justify the content */
    text-align: justify;

    /* Change the type of position of this element */
    position: absolute; 

    /* Change the margin of this element such that it is placed below the title */
    top: 150px; 
    right: 150px;

    /* Change the color of the text */
    color: rgb(241, 186, 6);

    /* Control font size and style of any text inside this <div> */
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.navigationBar {
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    display: block;

    /* Add border to this div */
    border-top: 0px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.navigationBarList {
    /* Remove any list styling */
    list-style-type: none;
}
.navigationBarListItem {
    /* Make each list item take the amount of space it needs only, not more and not less */
    display: inline-block;
}
.navigationBarListItem a {
    /* Change the text font */
    font-family: sans-serif;

    /* Remove the underline and the blue link from the text */
    text-decoration: none;

    /* Change the display to block */
    display: block;

    /* Change the color of the text */
    color: black;

    /* Add a left/right margin */
    margin-left: 7cm;

    /* Increase font size */
    font-size: 20pt;
}
.navigationBarListItem:hover a {
    color: rgb(3, 19, 236);
}
.navigationBar::-webkit-scrollbar {
    background-color: black;
    color: white;
}

.finalContainer {
    /* Center all the elements in this division */
    text-align: center;

    /* Add a background color if suitable */
    background-color: rgb(219, 219, 223);
}
.finalContainerTitle {

}
.finalContainerIcon {
    /* Add a black/gray background */
    background-color: rgb(247, 214, 144);

    /* Make the icon circular */
    border-radius: 40%;
}
.finalContainerAttributionSection {
    /* Change the font size */
    font-size: 10px;
}
.paragraph {
    /* Change the font family for all paragraphs */
    font-family: 'Montserrat', sans-serif;
}
.socialMediaIcon {
    /* Set the size of all icons to be used */
    width: 50px;
    height: 50px;

    /* Add margin to space out the icons */
    margin-left: 5cm;
    margin-right: 5cm;
}
.finalContainerCopyright {
    /* Change the font size */
    font-size: 10px;
}

/************************************************************************************************************************/

.sectionTitle {
    /* Adding font specifications for every section's title */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/************************************************************************************************************************/

.sectionIcon {
    /* Center the icon in the middle and reduce its size */
    display: inline-block;
    width: 250px;
    height: 250px;
    left: 500px;
}

/************************************************************************************************************************/

.hobbiesContainer {
    /* Center all elements in the middle */
    text-align: center;

    background-color: rgb(245, 253, 214);
}

/************************************************************************************************************************/

.skillsContainer {
    /* Center all elements in the middle */
    text-align: center;

    background-color: rgb(192, 243, 213);
}

/************************************************************************************************************************/

.educationContainer {
    background-color: rgb(230, 248, 213);
}
.logo {
    /* Push the image to the left */
    left: 50px;

    /* Standardizing the size of the logo */
    height: 300px;
    width: 450px;
}
.briefDescription {
    display: inline-block;
    position: absolute;

    /* Add a space between the logo element and this element */
    margin-left: 10px;
    
}

/************************************************************************************************************************/

.jobContainer {
    /* Center all elements in the middle */
    text-align: center;

    background-color: aliceblue;
}

/************************************************************************************************************************/

.certificatesContainer {
    /* Center all elements in the middle */
    text-align: center;

    /* Add a background color */
    background-color: rgb(250, 229, 218);
}

/************************************************************************************************************************/

.internalSeparator {
    border-top: 1px solid black;

    /* Control the length of the separator from both sides */
    width: 800px;
    position: relative;
    left: 350px;

    /* Add margin on the top and bottom side */
    margin-top: 50px;
    margin-bottom: 50px;
}