body {
    background-color: whitesmoke;
    margin: 0;
}

hr {
    border: none;
    height: 2px;
    background: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/************************************************************************************************************************/

.navbar {
    background-color: aliceblue;
    padding-bottom: 2%;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.0rem;
}

.nav-item {
    padding: 0px 20px;
}

.nav-link {
    font-size: 1.5rem;
}

/************************************************************************************************************************/

.main-container {
    color: gold;
    text-align: center;
}

.profile-pic {
    width: 100%;
}

.main-container-prompt {
    background-color: rgb(2, 58, 10);
    font-family: 'Montserrat';
    text-align: center;
    line-height: 2.0rem;
    padding-left: 1%;
}

.main-container-title {
    padding-top: 2%;
    padding-bottom: 2%;
}

.main-container-span {
    text-align: justify;
}

/************************************************************************************************************************/

.job-container {
    /* Center all elements in the middle */
    text-align: center;

    background-color: aliceblue;
}

/************************************************************************************************************************/

.certificates-container {
    /* Center all elements in the middle */
    text-align: center;

    /* Add a background color */
    background-color: rgb(250, 229, 218);
}

/************************************************************************************************************************/

.education-container {
    background-color: rgb(230, 248, 213);
}

.logo {
    left: 50px;
    height: 300px;
    width: 450px;
    float: left;
}

.brief-description {
    font-family: 'Montserrat';
    margin-left: 10px;
}

/************************************************************************************************************************/

.skills-container {
    /* Center all elements in the middle */
    text-align: center;

    background-color: rgb(192, 243, 213);
}

/************************************************************************************************************************/

.hobbies-container {
    /* Center all elements in the middle */
    text-align: center;

    background-color: rgb(245, 253, 214);
}

/************************************************************************************************************************/

.final-container {
    /* Center all the elements in this division */
    text-align: center;

    /* Add a background color if suitable */
    background-color: rgb(219, 219, 223);
}

.final-container-icon {
    /* Add a black/gray background */
    background-color: rgb(247, 214, 144);

    /* Make the icon circular */
    border-radius: 40%;
}

.final-container-conclusion {
    margin-top: 2%;
}

.final-container-attribution-section {
    font-size: 10px;
    margin-top: 2%;
}

.paragraph {
    /* Change the font family for all paragraphs */
    font-family: 'Montserrat', sans-serif;
}

.social-media-icon {
    /* Set the size of all icons to be used */
    width: 50px;
    height: 50px;

    /* Add margin to space out the icons */
    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 2%;
}

.final-container-copyright {
    /* Change the font size */
    font-size: 10px;
}

/************************************************************************************************************************/

.section-title {
    /* Adding font specifications for every section's title */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/************************************************************************************************************************/

.section-icon {
    /* Center the icon in the middle and reduce its size */
    display: inline-block;
    width: 250px;
    height: 250px;
    left: 500px;
}

/************************************************************************************************************************/

.internal-separator {
    border-top: 1px solid black;
    width: 10%;
    margin: 50px auto;
}

/************************************************************************************************************************/

.description {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0% 1%;
}