body {
    background-image: url("../images/index_page/photography-of-macbook-half-opened-on-white-wooden-surface-633409.jpg");
    background-repeat: no repeat;
    background-size: cover;
}

.titleContainer {
    text-align: center;
}
.title{
    color: whitesmoke;
    font-size: 54px;
    font-weight: 300;
    display: inline-block;
    font-family: fantasy;
}

.prompt {
    color: whitesmoke;
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
    font-weight: bolder;
    padding-top: 0%;
    padding-left: 0%;
}

/****************************************************************************************************/

/* The code for my horizontal menu.*/
.horizontalMenu {
    border-top: 3px solid white;
    background-image: linear-gradient(to bottom, black, rgb(56, 56, 56));
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}
li {
    border-right: 3px solid white;
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 16px 145px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}
li a:hover {
    background-color: whitesmoke;
    color: black;
}
li:last-child {
    border-right: none;
}
