body {
    margin: 0;
}

/************************************************************************************************************************/

h1 {
    margin-top: 0;
}

/************************************************************************************************************************/

h2 {
    text-align: center;
}

/************************************************************************************************************************/

h3 {
    text-align: center;
}

/************************************************************************************************************************/

.top-container {
    text-align: center;
    background-color: rgb(188, 227, 240);
    position: relative;
}
.bottomCloudImage {
    display: inline-block;
    position: absolute;
}
.topCloudImage {
    position: relative;
    left: 300px;
    padding-top: 40px;
}

/************************************************************************************************************************/

.bottom-container {
    text-align: center;
}

/************************************************************************************************************************/

.middle-container .profile {
    text-align: center;
}
.contact-me {
    text-align: center;
}

/************************************************************************************************************************/

.skill-row {
    /* Change the display of the screen to inline-block to set the width to 50% 
    (This is my method)
    display: inline-block;
    width: 50%;
    */

    /* The lecturer's method */
    /* Since the div is already a block div, we can just set the width to 50% */
    width: 50%;

    /* 
    If we want to center the div, then we can just play around with the margin.
    Setting the margin as auto will create equal spacing between the element and other 
    elements.
    */
    margin: 100px auto 100px auto;
}
.skill-row-image {
    width: 25%;
    float:left;
}
.skill-row-image-title-container {
    text-align: center;
}
.skill-row-paragraph-container {
    text-align:left;
    line-height: 2;
}

/************************************************************************************************************************/

.skill-row-paragraph-container {
    text-align: left;
}